<!DOCTYPE html>
<html>
<head>
  <title>UWC National Committe of Bulgaria - Български Национален Комитет на КОС</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= facebook_pixel.html_safe %>
</head>
<body>
<div class="ui container">
  <div class="ui center aligned segment">

    <img src="/images/main_logo.png" />

  </div>
  <div class="ui divider"></div>
</div>

<%= yield %>

</body>
</html>
